<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.nfc.tech.NfcA" android:required="true" />
    <uses-feature android:name="android.nfc.tech.NfcB" android:required="true" />
    <uses-feature android:name="android.nfc.tech.NfcF" android:required="true" />
    <uses-feature android:name="android.nfc.tech.NfcV" android:required="true" />
    <uses-feature android:name="android.nfc.tech.IsoDep" android:required="true" />
    <uses-feature android:name="android.nfc.tech.NdefFormatable" android:required="true" />
    <uses-feature android:name="android.nfc.tech.MifareClassic" android:required="true" />
    <uses-feature android:name="android.nfc.tech.MifareUltralight" android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FurCardReader"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FurCardReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>

        <activity android:name=".SettingsActivity"/>

    </application>

</manifest>